#name {
  background-color: #74838b;
  font-family: monospace;
  color: black;
  padding: 20px;
  text-align: center;
} 

#nickname {
  background-color: #74838b;
  font-family: monospace;
  color: black;
  padding: 20px;
} 

#cmsc {
  background-color: #74838b;
  font-family: monospace;
  color: black;
  padding: 20px;
} 

#ge{
  background-color: #74838b;
  font-family: monospace;
  color: black;
  padding: 20px;
} 

#pl{
  background-color: #74838b;
  font-family: monospace;
  color: black;
  padding: 20px;
} 

#food {
  background-color: #74838b;
  font-family: monospace;
  color: black;
  padding: 20px;
} 

#hobbies {
  background-color: #74838b;
  font-family: monospace;
  color: black;
  padding: 20px;
} 

#childhood {
  background-color: #74838b;
  font-family: monospace;
  color: black;
  padding: 20px;
} 